body {
  background: #0b0c2a;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h4 {
  text-align: center;
  color: #96BB54;
  margin-top: 20px;
}

.responsive-iframe-container {
  aspect-ratio: 16 / 9;
  max-width: 980px;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
}

.responsive-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.contenedor {
  text-align: center;
  margin: 20px;
}

.boton {
  display: inline-block;
  padding: 10px 16px;
  font-size: 14px;
  background-color: #2c3e50;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #1abc9c;
}
